html,
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  max-width: 100vw;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
  background-color: #F6F2F5;
} 

